body {
  -webkit-font-smoothing: antialiased;
  font-family: 'DM Sans', sans-serif;

  max-width: 1920px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background: #55A6D9;
}

header span {
  padding: 0 20px 0 0;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  color: #FFFFFF;
}

header a:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.red {
  padding: 9px 14px;
  background: #FF5555;
  border-radius: 100px;

  box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
}

header a {
  text-decoration: none;
}

header .red:hover {
  background: #FF3249;
  color: #FFFFFF;
}

.sectionOne {
  height: 487px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("/assets/photo.jpg");
  background-position: center;  
  background-repeat: no-repeat;
  background-size: cover;
  /* background: rgba(96, 218, 255, 0.53); */
}

.sectionOne h2 {
  width: 50%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 43px;
  text-align: center;

  padding: 0 0 20px 0;

  color: #1E2640;
}

.sectionOne p {
  width: 50%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 90.2%;

  text-align: center;

  color: #1E2640;
}

.sectionTwo {
  height: 750px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  background: #FFFFFF;
}

.sectionTwoHeader {
  display: flex;
  flex-direction: row;
}

#caregiver {
  display: none;
}

.sectionTwoHeader button {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.4px;

  background: #FFFFFF;
  color: #CBD2D9;

  margin: 80px;
}

.sectionTwoHeader button:hover {
  color: #1E2640;
  outline: none;
}

.active {
  color: #1E2640 !important;
  outline: none;

  border-bottom: 5px solid #FF5555;
  padding-bottom: 2px;
}

.sectionTwoBody {
  display: flex;
  flex-direction: row;
}

.sectionTwoBody div {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.sectionTwoBody div img {
  width: 76px;
  height: 45px;
}

.sectionTwoBody div span {
  width: 40%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  text-align: center;

  color: #1E2640;

  padding: 20px 0 30px 0;
}

.sectionTwoBody div p {
  width: 50%;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;

  color: rgba(21, 20, 57, 0.4);
  mix-blend-mode: normal;
}

.sectionThree {
  height: 760px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: #55A6D9;
}

.sectionThree div {
  margin: 0 5%;
}

.sectionThreeHeader {
  width: 100%;
  margin: 0 auto;

  align-items: center;
  justify-content: center;
  text-align: left;
}

.sectionThreeHeader h2 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.4px;

  color: #FFFFFF;

  padding-bottom: 20px;
}

.sectionThreeHeader p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  color: #FFFFFF;
  mix-blend-mode: normal;
}

.sectionThreeBody {
  width: 100%;
  margin: 0 auto;

  background: #FFFFFF;
  border-radius: 10px;

  box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
}

.sectionThreeBody div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 35px 0px 35px 0px;
}

.sectionThreeBody div button {
  width: 100%;
  border-bottom: 2px solid #CBD2D9;
  padding-bottom: 30px;
  background: #FFFFFF;
}

.sectionThreeBody button {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: none;

  color: #CBD2D9;
}

.activeThree {
  color: #1E2640 !important;
  outline: none;

  border-bottom: 2px solid #FF5555 !important;
  padding-bottom: 30px;
}

.sectionThreeBody form {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;
  text-align: left;

  padding-left: 15%;
}

.sectionThreeBody form p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  padding: 0 0 3px 0;
}

.sectionThreeBody form b {
  color: #FF3249;
}

.sectionThreeBody form span {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  
  letter-spacing: 2px;
  text-transform: uppercase;
  
  color: rgba(21, 20, 57, 0.4);

  padding: 50px;
}

.sectionThreeBody form input {
  width: 80%;
  height: 60px;
  mix-blend-mode: normal;

  border: 2px solid #EBEAED;
  box-sizing: border-box;
  border-radius: 100px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;

  color: rgba(21, 20, 57, 0.4);

  padding: 0 0 0 20px;
  margin: 0 0 30px 0;
  outline: none;
}

.sectionThreeBody form input[type="submit"] {
  cursor: pointer;

  background: #FF5555;
  color: #ffffff;

  box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
}


.sectionThreeBody form input[type="submit"]:hover {
  background: #FF3249;
  color: #FFFFFF;
}

.sectionThreeBody h6 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  color: #CBD2D9;

  margin: -27px 0 20px 0;
}

.sectionThreeBody h6 b {
  color: #b9c0c5;
}

.footer {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #1E2640;
  color: #ffffff;
}

.footer div {
  text-align: center;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.292683px;
}

.footer div div img {
  padding: 0 5px 5px 5px;
}

.footer span {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */

  text-align: center;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
}

@media only screen and (max-width: 768px) {
  body {
    max-width: 768px;
    margin: 0 auto;
  }

  .header {
    position: relative;
    height: 240px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .header div {
    display: flex;
    flex-direction: column;

    padding: 10px 0 10px 0;
  }

  .header div span {
    padding: 5px 0 5px 0;
  }

  .sectionOne h2 {
    width: 90%;
    font-size: 32px;
    line-height: 38px;
  }

  .sectionOne p {
    width: 90%;
    font-size: 18px;
    line-height: 150%;
  }

  .sectionTwo {
    height: 1000px;
  }

  .sectionTwoHeader button {
    font-size: 20px;
    line-height: 150%;

    margin: -50px 0 30px 0;
    padding: 0 7% 0 7%;
  }

  .sectionTwoBody {
    flex-wrap: wrap;
  }

  .sectionThree {
    flex-wrap: wrap;
  }

  .sectionTwoBody div {
    padding: 20px 0 20px 0;
  }

  .sectionTwoBody div span {
    width: 80%;
  }

  .sectionTwoBody div p {
    width: 80%;
  }

  .sectionThree {
    height: 1000px;
  }

  .sectionThreeHeader h2 {
    font-size: 24px;
    line-height: 150%;

    text-align: center;

    padding-top: 30px;
  }

  .sectionThreeBody form input {
    font-size: 16px;
    line-height: 150%;
  }


  
  .sectionThreeHeader p {
    font-size: 16px;
    line-height: 150%;

    text-align: center;

    padding-bottom: 30px;
  }

  .footer {
    height: 220px;
    flex-direction: column;
  }
}